[submodule "Boards_SoCs_SoMs/byVendor/Toradex_res_git"]
	path = Boards_SoCs_SoMs/byVendor/Toradex_res_git
	url = https://github.com/richMetellus/Toradex_res_git.git
[submodule "Boards_SoCs_SoMs/byVendor/NXP_res_git"]
	path = Boards_SoCs_SoMs/byVendor/NXP_res_git
	url = https://github.com/richMetellus/NXP_res_git.git
[submodule "Boards_SoCs_SoMs/byVendor/TI_res_git"]
	path = Boards_SoCs_SoMs/byVendor/TI_res_git
	url = https://github.com/richMetellus/TI_res_git.git
[submodule "Boards_SoCs_SoMs/byVendor/ST_res_git"]
	path = Boards_SoCs_SoMs/byVendor/ST_res_git
	url = https://github.com/richMetellus/ST_res_git.git
[submodule "Boards_SoCs_SoMs/byVendor/Microchip_res_git"]
	path = Boards_SoCs_SoMs/byVendor/Microchip_res_git
	url = https://github.com/richMetellus/Microchip_res_git.git
[submodule "Boards_SoCs_SoMs/byVendor/Xilinx_res_git"]
	path = Boards_SoCs_SoMs/byVendor/Xilinx_res_git
	url = https://github.com/richMetellus/Xilinx_res_git.git
[submodule "Boards_SoCs_SoMs/byVendor/AllegroMicroSystems_res_git"]
	path = Boards_SoCs_SoMs/byVendor/AllegroMicroSystems_res_git
	url = https://github.com/richMetellus/AllegroMicroSystems_res_git.git
[submodule "Boards_SoCs_SoMs/byVendor/Espressif_res_git"]
	path = Boards_SoCs_SoMs/byVendor/Espressif_res_git
	url = https://github.com/richMetellus/Espressif_res_git.git
[submodule "Boards_SoCs_SoMs/byVendor/BeagleBoard_res_git"]
	path = Boards_SoCs_SoMs/byVendor/BeagleBoard_res_git
	url = https://github.com/richMetellus/BeagleBoard_res_git.git
[submodule "Boards_SoCs_SoMs/byVendor/Arduino_res_git"]
	path = Boards_SoCs_SoMs/byVendor/Arduino_res_git
	url = https://github.com/richMetellus/Arduino_res_git.git
[submodule "Boards_SoCs_SoMs/byVendor/LIC-CIM_res_g"]
	path = Boards_SoCs_SoMs/byVendor/LIC-CIM_res_g
	url = https://github.com/richMetellus/LIC-CIM_res_g.git
[submodule "Boards_SoCs_SoMs/byVendor/SchneiderElectric_res_g"]
	path = Boards_SoCs_SoMs/byVendor/SchneiderElectric_res_g
	url = https://github.com/richMetellus/SchneiderElectric_res_g.git
